In [16]:
import numpy as np
import pandas as pd
a=np.array([10,14,8,18,11,15,19,20,13,17])
a
np.max(a)
np.mean(a)
np.min(a)
np.std(a)

3.8275318418009276

In [24]:
df=pd.DataFrame(
    {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Marks': [9.5, 7.0, 8.5, 9.0],
    'Subject': ['Math', 'Science', 'English', 'Math']
}
)
df
df.head(2)
df.columns
dfsrt=df.sort_values(by='Marks',ascending=False)
print(dfsrt)
df.columns
df=df[df['Marks']>8]
df

      Name  Marks  Subject
0    Alice    9.5     Math
3    David    9.0     Math
2  Charlie    8.5  English
1      Bob    7.0  Science

      Name  Marks  Subject
0    Alice    9.5     Math
2  Charlie    8.5  English
3    David    9.0     Math